
# Project specific
backup.log

# IDEs
.vscode
.idea

# python
__pycache__
*.egg-info/

# Virtualenvs
env
.venv
venv

# misc
/private/
restic_data/
restic_cache/
alerts.env

# build
build/
docs/_build
dist

# tests
.tox
